.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
body{
    max-width: 1170px;
    background-color: bisque;
    margin: 0 auto;

}
.card{
    width: 300px;
    text-align: left;
    border: 2x solid aqua;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h3{
    font-size: 1.25em;
    font-weight: 700;
}

button{
    background-color: aquamarine;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}