.blog{
    color: green;
    size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.box{
    margin: 1%;
    padding: 20px;
    border: 20px;
}
h2{
    text-decoration: underline brown;
}

.article{
    border: 10px solid black;
    background-color: lightpink;
    margin: 20px;
    width: 500px;
    box-shadow: 20px 20px 5px gray;

}
.header{
    height: 800px;
    width: 800px;
    background-color: lightcyan;
    background-image: url(/Html/Myphoto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

nav li:hover{
    background-color: antiquewhite;
}

nav li a{
    text-decoration: none;
}

footer{
    text-align: center;
}